body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}
p {
    color: #8f8f8f;
    font-style: sans-serif;
}
/* heading */
.bigheading{
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
.section-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}

/* containers */
.container-fluid {
    padding: 3% 10% ;
}

/* section color wise */
.coloured{
    background-color: #ff4c68;
    color: white;
}
.white-section{
    background-color: #fff;
}
/* navigation bar */
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;

}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-nav {
    padding-left: initial;
}
.btn {
    border-radius: 4px;
}

.download-button {
    margin: 5% 3% 5% 0;
}






/* features */
#feartures {
    position: relative;
    z-index: +1;
    ;
   
} 

.feature-title{
    font-size: 1.5rem;
}
.featelement {
    padding: 5%;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0rem;
    position: relative;
}
.icon {
    color: #ef8172;
    font-size: 4rem;
    margin-bottom: 10px;
}

.icon:hover {
    color: #ff4c68;
}



.carousel-item {
    padding: 7% 15%;
}



.last
{
    margin: 4% 3% 5% 0%;  
}

/* .fa-heart:hover{
    color:#ff4c68 !important;
 }
 .fa-circle-check:hover{
    color:#ff4c68 !important;
 }
 .fa-bullseye:hover{
    color:#ff4c68 !important;
 } */


/* title */

 #title {
    /* background-color: #ff4c68; */
    /* color: white; */
    text-align: left;

}
.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 15%;
}
.firstpage {
    padding: 0 10%;
}

/* testimony */
#testimonials{
background-color: #ef8172;
}
.testimony-h2{
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image {

    width: 10%;
    border-radius: 100%;
    margin: 10px;
}



#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.presslogo {
    width: 15%;
    margin: 20px 20px 50px;
}




/* pricing */

#pricing {
    padding: 100px;
}
.price-h2{
    font-size: 3rem;
    line-height: 1.5;  
}
.card-h3{
    font-size: 1.5rem;
    margin-bottom: 0px;
}
.cardpad {
    padding: 3% 2%;
}



#cta{
    padding: 7% 15%;
}


/* footer */
#footer{
    padding: 7% 15%;
}

@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        width: 60%;  
        position: static;
        transform: rotate(0);
    }
}